.field {
 display: block; 
}

.userForm {
  max-width: 700px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.formItem {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 0;
}

.label {
  text-align: left;
  margin: 5px;
}

.inputField {
  border: 1px solid grey;
  background-color: white;
  border-radius: 4px;
  padding: 8px 10px 6px 12px;
  font-size: 16px;
  line-height: 30px;
  vertical-align: middle;
  -webkit-appearance: none;
  min-width: 0;
}

.textarea {
  background: #fff;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 16px;
  resize: none;
}

.select {
  background: none;
  border: 1px solid grey;
  font-size: 16px;
}